# Go
tronbyt-server
go.work

# IDE / Editor
.vscode
.idea
.claude

# Git
.git
.gitignore

# CI/CD & Config
.github
.devcontainer
!.devcontainer/devcontainer.json
.env.example
docker-compose*.yaml
Dockerfile
Caddyfile

# Data
data
users
tests
