.DS_Store
*.pyc
!devcontainer.json
**/*.log
.coverage
.env
certs
env
firmware/*.bin
junit
system-apps
system-apps.json
tests/webp
tronbyt_server/static/apps
tronbyt_server/webp
!tronbyt_server/webp/README
users

# Translations
*.mo
messages.pot
