{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Firmware Flash "{{ device['name'] }}"{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method="post">
<input type="hidden" name="id" id="id" value="device['id']">
<span><label for="img_url">Image URL</label></span>
{% if not device['img_url'].startswith('http') %}
<input name="img_url" id="img_url" value="{{ server_root }}{{ device['img_url'] }}">
    {% else %}
<input name="img_url" id="img_url" value="{{ device['img_url'] }}"></p>
{% endif %}


<label for="wifi_ap">WiFi Network Name (AP)</label>
<input name="wifi_ap" id="wifi_ap" required>
<label for="wifi_password">WiFi Password</label>
<input name="wifi_password" id="wifi_password" required>

<input type="submit" value="Generate Firmware File">
</form>
<hr>

{% endblock %}