{% extends 'base.html' %}
{% block header %}
<h1>{{ _('Tronbyt Manager') }}</h1>

{% endblock %}
{% block content %}
{% if user %}
<br><a class="w3-button w3-purple w3-round w3-padding" href="{{ url_for('create') }}">{{ _('New Tronbyt') }}</a>
<hr>
{% endif %}

{% for u in users %}
<div class="w3-card-4 w3-padding">
  <header>
    <h1>{{ u.username }}</h1>
    {% if u.username != 'admin' %}
    <form method="POST" action="{{ url_for('deleteuser', username=u.username) }}" onsubmit="return confirm('{{ _('Delete User?') }}');">
      <input class="danger" type="submit" value="{{ _('Delete') }}">
    </form>
    {% endif %}
    {% if u.devices %}
    {% for device in u.devices.values() %}
    <div class="w3-card-4 w3-padding">
      <article>
        <div>
          <header>
            <h1>{{ device.name }}</h1>
            <table>
              <tr>
                <td>
                    <a class="w3-button w3-teal w3-round" style="min-width: 100px;"
                    href="{{ url_for('update', device_id=device.id) }}">{{ _('Edit') }}</a>
                    <a class="w3-button w3-teal w3-round" style="min-width: 100px;"
                    href="{{ url_for('addapp', device_id=device.id) }}">{{ _('Add App') }}</a>
                  </td>
              </tr>
            </table>
          </header>
          <p class="body">{{ _('API ID:') }} {{ device.img_url }}</p>
          <!-- <p class="body">API KEY: {{ device.api_key }}</p> -->
          {% if device.notes %}
          <p class="body">{{ _('Notes:') }} {{ device.notes }}</p>
          {% endif %}
          {% if device.apps %}
          {% set apps_list = device.apps.values()|sort(attribute='order')|list %}
          {% set pinned_app_iname = device.pinned_app %}
          {% set pinned_apps = apps_list|selectattr('iname', 'equalto', pinned_app_iname) if pinned_app_iname else [] %}
          {% set unpinned_apps = apps_list|rejectattr('iname', 'equalto', pinned_app_iname) %}
          {% set all_apps_ordered = pinned_apps|list + unpinned_apps|list %}
          {% for app in all_apps_ordered %}
          <div class="w3-card-4 w3-padding">
            <table width="100%">
              <tr width="100%">
                <td>
                  <ul>
                    <li>
                      <div class="post">
                        <header>
                          <h1>{{ app.iname }} &nbsp({{ _('installation id') }}) </h1>
                          <h1>{% if app.enabled %}<enabled>&nbsp -- {{ _('Enabled') }} --</enabled>{% else %}
                            <disabled>&nbsp -- {{ _('Disabled') }} --{% endif %}</disabled>
                          </h1>
                        </header>
                        <p class="body">{{ _('App:') }} {{ app.name }}</p>
                        <p class="body">{{ _('Render Interval (minutes):') }} {{ app.uinterval }}</p>
                        <p class="body">{{ _('Display Time (secs):') }} {{ app.display_time }}</p>
                        {% if app.notes %}
                        <p class="body">{{ _('Notes:') }} {{ app.notes }}</p>
                        {% endif %}
                </td>
                <td><br><div class="app-img"><img width="400" src="{{url_for('appwebp', device_id=device.id,iname=app.iname) }}" alt="{{ _('Preview') }}" ></div>
                  <br>
                  {{ _('Last Rendered:') }} {{ app.last_render|timeago }}
          </div>
          </li>
          </td>
          </tr>
          </table>
        </div>

        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
      </article>
    </div>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endfor %}

{% endblock %}
