{% extends 'base.html' %}
{% block header %}
<script src="{{ url_for('static', filename='js/location.js') }}"></script>
<h1>{% block title %}{{ _('New Tronbyt Device') }}{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method="post">
  <span><label for="name">{{ _('Name') }}</label> ({{ _('Descriptive name for this Tronbyt device') }})</span>
  <input name="name" id="name" value="{{ request.form['name'] }}" required>
  <span><label for="device_type">{{ _('Device Type') }}</label></span>
  <select name="device_type" id="device_type">
    <option value="tidbyt_gen1" selected>Tidbyt Gen1</option>
    <option value="tidbyt_gen2">Tidbyt Gen2</option>
    <option value="pixoticker">Pixoticker</option>
    <option value="tronbyt_s3">Tronbyt S3</option>
    <option value="tronbyt_s3_wide">Tronbyt S3 Wide</option>
    <option value="raspberrypi">Raspberry Pi</option>
    <option value="other">Other</option>
  </select>
  <span><label for="img_url">{{ _('Image URL') }}</label> ({{ _('Leave Blank unless advanced user.') }})</span>
  <input name="img_url" id="img_url" value="{{ request.form['img_url'] }}">
  <span><label for="brightness">{{ _('Brightness Level ( 0 - 5 )') }}</label></span><output>3</output>
  <input type="range" name="brightness" id="brightness" min="0" max="5" value="3"
    oninput="this.previousElementSibling.value = this.value">

  <!-- <span><label for="api_key">Device API KEY</label> (leave blank)</span> -->
  <!-- <textarea name="api_key" id="api_key" rows="5"></textarea>  -->
  <input type="hidden" name="api_key" id="api_key">
  <label for="notes">{{ _('Notes') }}</label>
  <input name="notes" id="notes" value="{{ request.form['notes'] }}">
  <div>
    <label for="location_search">{{ _('Location') }}</label>
    <input type="text" id="location_search" style="width: 100%" placeholder="{{ _('Enter a location') }}"
      value="{{ request.form['location_search'] }}">
    <ul id="location_results"></ul>
  </div>
  <input type="hidden" name="location" id="location" value='{{ (request.form["location"] or {}) | tojson }}'>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      enableLocationSearch(document.getElementById('location_search'), document.getElementById('location_results'), document.getElementById('location'), null);
    });
  </script>
  <input type="submit" class="w3-button w3-green" value="{{ _('Save') }}">
</form>
    <a href="{{ url_for('manager.import_device') }}" class="w3-button w3-orange">
      {{ _('Import Configuration') }}
    </a>
{% endblock %}
