{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}{{ _('Generate Firmware for') }} {{ device['name'] }}{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method="post">
    <h2>{{ _('Download ESP Flasher here') }} <a href="https://github.com/Jason2866/ESP_Flasher/releases">ESP Flasher</a></h2>
    {{ _('Connect your device to your computer with a data USB cable, run the ESP Flasher program and select your
    downloaded firmware file to flash your device. Do NOT use a web based flasher.') }}
    <br><i>{{ _('macOS and Windows users may need to install a serial driver:') }}
        <br>
        <a href="https://www.silabs.com/developer-tools/usb-to-uart-bridge-vcp-drivers?tab=downloads">CP210x Drivers</a>
        <br>
        <a href="https://github.com/WCHSoftGroup/ch34xser_macos">CH34x Drivers</a>
    </i>
    <br>
    <input type="hidden" name="id" id="id" value="device['id']">
    <span><label for="img_url">{{ _('Image URL') }}</label></span>
    <input name="img_url" id="img_url" value="{{ device['img_url'] }}"></p>

    <label for="wifi_ap">{{ _('WiFi Network Name (SSID) 2.4Ghz Only') }}</label>
    <input name="wifi_ap" id="wifi_ap" required>
    <label for="wifi_password">{{ _('WiFi Password') }}</label>
    <input name="wifi_password" id="wifi_password" required>
    <style>
        .left-align {
            text-align: left;
        }
    </style>

    {% if device.get('type') == 'tidbyt_gen1' %}
    <div class="left-align">
        <label for="swap_colors">{{ _('Swap Colors?') }}</label>
        <input type="checkbox" name="swap_colors" id="swap_colors" {% if request.form.get('swap_colors') %} checked {%
            endif %}>
    </div>
    {% endif %}
    <input class="w3-button w3-blue" type="submit" value="{{ _('Generate Firmware File') }}">
</form>
<hr>

{% endblock %}