{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}{{ _('Edit') }} "{{ app['name'] }}-{{ app['iname'] }}"{% endblock %}</h1><br>
{% endblock %}
{% block content %}
<!-- Container for flexbox alignment -->
<div class="flex-container">
  <!-- Show Config Toggle Button -->
  <button id="toggleConfigBtn" class="w3-button" style="background-color: #608ff3; margin-bottom: 5px; margin-top: 10px;">{{ _('Show App Config') }}</button>
  <a href="{{ url_for('manager.configapp', device_id=device_id, iname=app['iname'], delete_on_cancel=0) }}" class="w3-button" style="background-color: #608ff3; margin-bottom: 5px; margin-top: 10px;">{{ _('Configure') }}</a>

  <!-- Config Content -->
  <div id="configContent" class="hidden">
    <pre class="flash">{{ config }}</pre>
  </div>
</div>
<form method="post">
  <input type="hidden" name="iname" id="iname" value="{{ request.form['iname'] or app['iname'] }}" readonly>
  <input type="hidden" name="name" id="name" value="{{ request.form['name'] or app['name'] }}" readonly>
  <div><b>{{ _('Enabled: ') }}</b><input name="enabled" type="checkbox" {% if app['enabled'] %} checked {% endif %}></input></div>
  <div class="app-img"><img width="400" src="{{url_for('manager.appwebp', device_id=device_id,iname=app['iname']) }}"
    alt="{{ _('Preview') }}"></div>
  <label for="uinterval">{{ _('Render Interval Minutes (Update every X minutes)') }}</label>
  <div><input type="number" name="uinterval" id="uinterval" min="0" value="{{ request.form['uinterval'] or app['uinterval'] }}" required></div>

  <label for="display_time">{{ _('Display Time Seconds (0 for device default)') }}</label>
  <div><input type="number" name="display_time" id="display_time" min="0" value="{{ request.form['display_time'] or app['display_time'] or 0 }}"></div>

  <label for="notes">{{ _('Notes: ') }}</label>
  <input name="notes" id="notes" value="{{request.form['notes'] or app['notes'] }}" >

  <!-- Schedule Section -->
  <h2>{{ _('Schedule') }}</h2>
  <label for="start_time">{{ _('Start Time') }}</label>
  <div><input type="time" name="start_time" id="start_time" value="{{ request.form['start_time'] or app['start_time'] }}"></div>

  <label for="end_time">{{ _('End Time') }}</label>
  <div><input type="time" name="end_time" id="end_time" value="{{ request.form['end_time'] or app['end_time'] }}"></div>

  <label for="days">{{ _('Active Days') }}</label> {{ _('(none selected is ALL selected)') }}
  <div>
    <input type="checkbox" name="days" value="monday" {% if 'monday' in app['days'] or not app['days'] %} checked {% endif %}> {{ _('Monday') }}
    <input type="checkbox" name="days" value="tuesday" {% if 'tuesday' in app['days'] or not app['days'] %} checked {% endif %}> {{ _('Tuesday') }}
    <input type="checkbox" name="days" value="wednesday" {% if 'wednesday' in app['days'] or not app['days'] %} checked {% endif %}> {{ _('Wednesday') }}
    <input type="checkbox" name="days" value="thursday" {% if 'thursday' in app['days'] or not app['days'] %} checked {% endif %}> {{ _('Thursday') }}
    <input type="checkbox" name="days" value="friday" {% if 'friday' in app['days'] or not app['days'] %} checked {% endif %}> {{ _('Friday') }}
    <input type="checkbox" name="days" value="saturday" {% if 'saturday' in app['days'] or not app['days'] %} checked {% endif %}> {{ _('Saturday') }}
    <input type="checkbox" name="days" value="sunday" {% if 'sunday' in app['days'] or not app['days'] %} checked {% endif %}> {{ _('Sunday') }}
  </div>

  <div style="display: flex; gap: 10px; margin-top: 20px;">
    <input type="submit" class="w3-button w3-green w3-round" value="{{ _('Save') }}">
    <input type="submit" class="w3-button w3-red w3-round" 
           formaction="{{ url_for('manager.deleteapp', device_id=device_id,iname=app['iname']) }}" 
           formmethod="post"
           onclick="return confirm('{{ _('Delete App?') }}');" 
           value="{{ _('Delete') }}">
  </div>
</form>

<!-- style and javascript to show and hide the config -->
<style>
  .hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .visible {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const toggleBtn = document.getElementById("toggleConfigBtn");
    const configContent = document.getElementById("configContent");

    toggleBtn.addEventListener("click", function() {
      if (configContent.classList.contains("hidden")) {
        configContent.classList.remove("hidden");
        configContent.classList.add("visible");
        toggleBtn.textContent = "{{ _('Hide App Config') }}";
      } else {
        configContent.classList.remove("visible");
        configContent.classList.add("hidden");
        toggleBtn.textContent = "{{ _('Show App Config') }}";
      }
    });
  });
</script>
{% endblock %}
