name: Build and test
on:
  push:
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'docker*.yaml'
  pull_request:
    paths-ignore:
      - '**.md'

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Generate version file
        run: ./scripts/generate_version.sh
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          cache: true
          python-version: 3.14
      - name: Install dependencies
        run: pdm sync -d
      - name: Lint code with Ruff
        run: pdm run ruff check --output-format=github
      - name: Check code formatting with Ruff
        run: pdm run ruff format --diff --check
      - name: Install pixlet
        run: |
          curl -LO "https://github.com/tronbyt/pixlet/releases/download/${PIXLET_VERSION}/pixlet_${PIXLET_VERSION}_linux_amd64.tar.gz"
          sudo tar -C /usr/local/bin -xvf "pixlet_${PIXLET_VERSION}_linux_amd64.tar.gz"
          sudo mv /usr/local/bin/libpixlet.so /usr/lib/libpixlet.so
          rm "pixlet_${PIXLET_VERSION}_linux_amd64.tar.gz"
        env:
          PIXLET_VERSION: v0.48.0
      - name: Test with pytest
        run: pdm run -v pytest tests --doctest-modules --junitxml=junit/test-results.xml
      - name: Type check with mypy
        run: pdm run mypy --non-interactive
      - name: Type check with pyright
        run: pdm run pyright
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile
      - name: Build
        run: pdm build
      - name: Upload Release Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: release-artifacts
          path: dist

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: build-and-test
    permissions:
      contents: write

    steps:
      - name: Fetch Release Artifacts
        uses: actions/download-artifact@v6
        with:
          path: dist
          pattern: release-artifacts
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |
          gh release create "$tag" \
              --repo="${GITHUB_REPOSITORY}" \
              --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
              --generate-notes \
              dist/*
      - name: Bump Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@v5
        with:
          token: ${{ secrets.HOMEBREW_BUMP_TOKEN }}
          formula: tronbyt-server
          tap: tronbyt/homebrew-tronbyt
          tag: ${{ inputs.version || github.ref_name }}
          revision: ${{ github.sha }}
          force: false
          no_fork: true
